<div class="book">
    <div class="info-container">
        <img src="{{imageUr}}">
        <div class="info">
            <h2>{{name}}</h2>
        </div>
    </div>
    <div class="details-btn">
        <a href="/details/{{_id}}/details" class="details">Details</a>
    </div>
</div>

{{!-- <a href="/hotel/{{_id}}/details" class="added-hotel">
    <img src="{{imageUr}}" alt="" class="picture-added-hotel">
    <h3>{{name}}</h3>
    <span>Free rooms: {{rooms}}</span> 
</a> --}}